<h3>Nume produs : </h3>

<label>
  <input type="text" [formControl] = "pName">
  <button (click)="updateName()">Cauta</button>
</label>


<h3>Produse gasite </h3>

<table>
	<tr>
		<th>Denumire produs</th>
		<th>Pret</th>
		<th>Cantitate</th>
		<th>Um</th>
    <th>Magazin</th>
    <th>Adresa</th>
	</tr>

	<tr *ngFor="let product of products">
		<td>{{product.productName}}</td>
		<td>{{product.price}}</td>
		<td>{{product.quantity}}</td>
		<td>{{product.um}}</td>
    <ng-container *ngFor="let store of stores" >
    <td *ngIf="product.storeId == store.storeId">{{store.name}}</td>
    <td *ngIf="product.storeId == store.storeId">{{store.address}}</td>
    </ng-container>
	</tr>
</table>