<div id="d01">
<p> Bine ați venit !</p>

<p> Introduceți în bara de căutare numele unui produs comercial :</p>


<input type="text" [formControl] = "pName" spellcheck="false">
<button id ="b01" (click)="updateName()">Caută</button>


<p>Produse găsite :</p>


<button id="b02" (click)="sortByPrice()">Sortează dupa preț</button>
<button id="b03" (click)="sortByQuantity()">Sortează dupa cantitate</button>

</div>

<div id="d02">
<table>
	<tr>
		<th>Denumire produs</th>
		<th>Preț</th>
		<th>Cantitate</th>
		<th>Um</th>
    <th>Centru comercial</th>
    <th>Adresa</th>
	</tr>

	<tr *ngFor="let product of products">
		<td>{{product.productName}}</td>
		<td>{{product.price}}</td>
		<td>{{product.quantity}}</td>
		<td>{{product.um}}</td>
    <ng-container *ngFor="let store of stores" >
    <td *ngIf="product.storeId == store.storeId">{{store.name}}</td>
    <td *ngIf="product.storeId == store.storeId">{{store.address}}</td>
    </ng-container>
	</tr>
</table>
<div>