h3, h2,  button{
margin-left: 15px;
}
table, tr, th, td{
  border: 3px solid black;
  border-collapse:collapse;
  text-align:center;
  padding: 5px;

}

table{
  margin-left: 10px;
}

label, p{
  margin-left: 10px;
}