<div id="dmain">

<div id="d01">
<p> Sunte-ți autentificat ca și administrator !</p>
<p> Administrare produse : </p>
</div>


<div id="d02">
<button (click)="getAllProducts()"> Toate produsele </button>
<div id="table-wrapper">
  <div id="table-scroll">
<table>
<thead>
	<tr>
    <th class="text">Id</th>
    <th class="text">Id magazin</th>
		<th class="text">Denumire produs</th>
		<th class="text">Pret</th>
		<th class="text">Cantitate</th>
		<th class="text">Um</th>
	</tr>
</thead>

<tbody>
	<tr *ngFor="let product of products">
    <td>{{product.productId}}</td>
    <td>{{product.storeId}}</td>
		<td>{{product.productName}}</td>
		<td>{{product.price}}</td>
		<td>{{product.quantity}}</td>
		<td>{{product.um}}</td>
	</tr>
</tbody>

</table>
  </div>
</div>
</div>

<div id="d03">
  <div id="d03a">
  <p id="p01"> Id produs </p>
  <p id="p02"> Id magazin </p> 
  <p id="p03"> Nume produs </p>
  <p id="p04"> Cantitate produs </p>
  <p id="p05"> Unitate de masura </p> 
  <p id="p06"> Pret produs </p>
  <button id="b02" (click)="insertNewProduct()">Inserare produs nou</button>
  </div>

  <div id="d03b">
  <input id="in01" type="number" [formControl] = "pId">
  <input id="in02" type="number" [formControl] = "pSId">
  <input id="in03" type="text" [formControl] = "pName">
  <input id="in04" type="number" [formControl] = "pQuantity">
  <input id="in05" type="text" [formControl] = "pUm">
  <input id="in06" type="number" [formControl] = "pPrice">
  <button id="b01" (click)="updateProduct()">Actualizare produs</button>
  </div>

</div>

<div id="d04">
  <p> Introduceți id-ul produsului pe care doriți să-l ștergeți </p>
  <p> Id produs <input type="number" [formControl] = "pIdDelete"></p>
  <button (click)="deleteProduct()">Șterge produs</button>
</div>

</div>